@{
    Layout = "";
}

<html>
<head>

<link rel="stylesheet" href="css/app.css">

</head>

    <body ng-app="moviesApp">
        <h1>MDB</h1>
        <ng-view></ng-view>

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>

        <script src="~/app/app.js"></script>
        <script src="~/app/moviesViewController.js"></script>
        <script src="~/app/movieController.js"></script>
        <script src="~/app/movieList.js"></script>
        <script src="~/app/movieDetail.js"></script>
        <script src="~/app/routing.js"></script>
    </body>
</html>
